<div id="<%= dom_id transcript_course %>">
  <p>
    <strong>Student:</strong>
    <%= transcript_course.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= transcript_course.course_id %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= transcript_course.grade %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= transcript_course.semester %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= transcript_course.year %>
  </p>

</div>
