
<%= form_with url: schedule_path, method: :get, html: { class: "inline-form" } do |form| %>
  <%= form.hidden_field :semester_num, value: params[:semester_num] %>
  <%= form.hidden_field :student_id, value: params[:student_id] %>
  <%= form.hidden_field :class_id, value: c.id %>
  <div class="class" onclick="this.closest('form').submit(); return false;">
    <p><%=course.ccode+" "%><%=course.cnumber%></p>
    <p><%= c.class_type%></p>
    <p><%=
    if @selected_class == c || isSaved
        get_emoji(course)
    end
    %></p>
    <% if @selected_class == c && !isSaved%>
    <%= form_with url: schedule_path, method: :get, html: { class: "inline-form" } do |form| %>
            <%= form.hidden_field :class_id, value: params[:class_id] %>
            <%= form.hidden_field :semester_num, value: params[:semester_num] %>
            <%= form.hidden_field :student_id, value: params[:student_id] %>
            <%= form.hidden_field :save_id, value: c.id %>
            <%= form.submit "Save Course", class: "btn btn-primary" %>
        <% end %>
    <% end %>    
    </div>
<%end%>
